body,
.card,
.card-header,
.hero {
    background-color: var(--skin-background-color-1);
    font-family: var(--skin-body-font);
    color: var(--skin-main-text-color-1);
}

.hero {
    border-bottom-color: var(--skin-background-color-1);
}

.main-menu {
    background-color: var(--skin-banner-background-color-1);
}

.banner-color {
    background-color: var(--skin-banner-background-color-1);
}

.header-banner {
    background-color: var(--skin-banner-background-color-2);
    color: var(--skin-banner-text-color-1);
}

.header-banner .close-button .close {
    background-color: var(--skin-primary-color-1);
}

h1.header.page-title,
h1.header.page-title::before {
    background-color: var(--skin-heading-color-1);
    color: var(--skin-heading-color-1-invert);
}

.product-tile {
    background-color: var(--skin-background-color-1);
    border: 10px solid var(--skin-border-color-1);
}

.refinements ul li button {
    color: var(--skin-primary-color-1);
}

.custom-select {
    background-color: var(--skin-selectbox-background-color-1);
    color: var(--skin-selectbox-text-color-1);
}

a {
    color: var(--skin-primary-color-1);
}

header ~ #maincontent .container a:not(.btn-primary, .btn-outline-primary) {
    color: var(--color-black);
}

.price {
    color: var(--skin-price-1);
}

.navbar,
.navbar .nav-item,
.navbar .nav-item a,
.navbar .nav-item.dropdown,
.navbar .nav-item.dropdown a,
.dropdown-menu,
.dropdown-menu a {
    color: var(--skin-menu-color-1);

    @media (min-width: 769px) { // stylelint-disable-line
        color: var(--skin-menu-color-1-invert);
    }
}

.navbar .nav-item.dropdown,
.navbar .nav-item.dropdown .dropdown-menu.show {
    color: var(--skin-selectbox-text-color-1);
}

.navbar .nav-item.dropdown .dropdown-menu.show {
    background-color: var(--skin-selectbox-background-color-1);

    a,
    .nav-item {
        color: var(--skin-selectbox-text-color-1);
    }
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item.show .nav-link {
    // background-color: var(--skin-menu-color-1-invert);
    color: var(--skin-menu-color-1) !important;
}

.btn-primary {
    background-color: #{var(--skin-primary-color-1)};
    border-color: #{var(--skin-primary-color-1)};
    color: var(--skin-primary-color-invert-1);
}

.btn-primary:hover {
    color: #{var(--skin-primary-color-1)};
    border-color: #{var(--skin-primary-color-1)};
    background-color: var(--skin-primary-color-invert-1);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--skin-primary-color-1);
    border-color: var(--skin-primary-color);
    color: var(--skin-primary-color-invert-1);
    opacity: 0.5;
}

.btn-outline-primary {
    color: var(--skin-primary-color-1);
    border-color: var(--skin-primary-color-1);
}

.btn-outline-primary:hover {
    color: var(--skin-primary-color-invert-1);
    background-color: var(--skin-primary-color-1);
    border-color: var(--skin-primary-color-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--skin-header-font), sans-serif;
}

h1 {
    font-weight: 900;
}

a {
    color: var(--skin-link-color-1);
}

.navbar-nav {
    justify-content: center;
    a{
        font-weight: 600;
    }
}
// OVERWRITE CSS 
.mai_margin {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

header ~ #maincontent .container #mai-custom-link-blue a:not(.btn-primary, .btn-outline-primary),
header ~ #maincontent .container a#mai-edit-button:not(.btn-primary, .btn-outline-primary)
{
    color:var(--skin-primary-color-1);
}
header ~ #maincontent #mai-custom-cart-page #mai-continue-shopping-link ,
header ~ #maincontent #mai-custom-cart-page #mai-help-phone-number
{
    color:var(--skin-link-color-2);
}

#mai-custom-detail-product-page{
    .mai-custom-select-container{
        .custom-select{
            appearance: none;
            background: none;
            background: #e9ecef;  
        }
    }

    .carousel-inner{
        background-color: var(--color-black);
    }

    .carousel-item{
        img{
            margin: auto;
        }
    }

    .mai-custom-bandeau-promo{
        background-color: #F1F3F5;
        padding: 10px 10px 10px 15px;
    }

    .mai-quick-view-bg-promotions{
        .bi-info-circle-fill {
            color: #3067c5;
        }

        .promotions{
            text-align: left;
        }
    }
}